1. Tentukan Library Yang Digunakan

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

2. Load used_car_status

In [3]:
mobil_bekas = pd.read_csv('audi.csv')

In [4]:

mobil_bekas.head()

   year  price  mileage  tax   mpg  engineSize  used_car_status
0  2017  12500    15735  150  55.4         1.4                1
1  2016  16500    36203   20  64.2         2.0                1
2  2016  11000    29946   30  55.4         1.4                0
3  2017  16800    25952  145  67.3         2.0                1
4  2019  17300     1998  145  49.6         1.0                1

In [5]:
mobil_bekas.shape

(50, 7)

In [6]:
mobil_bekas['used_car_status'].value_counts()
#Rusak = 1
#tidakRusak = 0

1    33
0    17
Name: used_car_status, dtype: int64

In [7]:
#memisahkan data dan label
x = mobil_bekas.drop(columns='used_car_status', axis=1)
y = mobil_bekas['used_car_status']

In [8]:
print(x)

    year  price  mileage  tax   mpg  engineSize
0   2017  12500    15735  150  55.4         1.4
1   2016  16500    36203   20  64.2         2.0
2   2016  11000    29946   30  55.4         1.4
3   2017  16800    25952  145  67.3         2.0
4   2019  17300     1998  145  49.6         1.0
5   2016  13900    32260   30  58.9         1.4
6   2016  13250    76788   30  61.4         2.0
7   2016  11750    75185   20  70.6         2.0
8   2015  10200    46112   20  60.1         1.4
9   2016  12000    22451   30  55.4         1.4
10  2017  16100    28955  145  58.9         1.4
11  2016  16500    52198  125  57.6         2.0
12  2016  17000    44915  145  52.3         2.0
13  2017  16400    21695   30  58.9         1.4
14  2015  15400    47348   30  61.4         2.0
15  2017  14500    26156  145  58.9         1.4
16  2016  15700    28396  145  53.3         2.0
17  2014  13900    30516   30  56.5         1.4
18  2016  19000    37652  200  47.1         2.0
19  2014  17000    34110  145  47.9         1.4
20  2017  17300    37100  145  67.3         2.0
21  2016  20200    23714  200  47.1         2.0
22  2017  22500    21649  145  58.9         3.0
23  2015  17500    62748  150  53.3         3.0
24  2016  20000    23789  200  47.1         2.0
25  2017  18500    17418  145  62.8         2.0
26  2017  19500    33300  145  61.4         2.0
27  2018  15800    10793  145  56.5         1.4
28  2018  17200    25138  145  70.6         2.0
29  2015  14000    61176   30  62.8         2.0
30  2015   9500    54754    0  76.3         1.6
31  2017  16500    21369  125  51.4         1.4
32  2014  15000    39190  205  47.9         2.0
33  2017  16000    47482  150  47.9         1.4
34  2016  16900    40501  150  51.4         2.0
35  2014  12300    43195  200  47.9         2.0
36  2017  10800    31447  145  67.3         1.0
37  2016  19400    34030  125  58.9         2.0
38  2017  16000    29063  145  70.6         2.0
39  2017  17100    29545  145  65.7         2.0
40  2015  11300    75619   20  68.9         2.0
41  2016  17200    39603  160  50.4         2.0
42  2017  20300    42908  145  51.4         2.0
43  2014  13200    83872  125  58.9         2.0
44  2016  15200    58750  145  47.9         1.4
45  2019  15700     2029  145  49.6         1.0
46  2018  16600    22958  145  50.4         1.8
47  2017  14400    32097  145  72.4         2.0
48  2017  20200    13057  145  53.3         2.0
49  2017  23700    20278  145  38.7         3.0

In [9]:
print(y)

0     1
1     1
2     0
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    0
16    1
17    1
18    1
19    0
20    0
21    1
22    0
23    0
24    1
25    1
26    0
27    1
28    1
29    1
30    0
31    1
32    0
33    0
34    1
35    1
36    0
37    0
38    0
39    0
40    1
41    0
42    1
43    1
44    1
45    1
46    0
47    0
48    1
49    1
Name: used_car_status, dtype: int64

3. Standarisasi Data

In [10]:
x = mobil_bekas.drop(columns='used_car_status', axis=1)
y = mobil_bekas['used_car_status']

In [11]:
print(x)
print(y)

    year  price  mileage  tax   mpg  engineSize
0   2017  12500    15735  150  55.4         1.4
1   2016  16500    36203   20  64.2         2.0
2   2016  11000    29946   30  55.4         1.4
3   2017  16800    25952  145  67.3         2.0
4   2019  17300     1998  145  49.6         1.0
5   2016  13900    32260   30  58.9         1.4
6   2016  13250    76788   30  61.4         2.0
7   2016  11750    75185   20  70.6         2.0
8   2015  10200    46112   20  60.1         1.4
9   2016  12000    22451   30  55.4         1.4
10  2017  16100    28955  145  58.9         1.4
11  2016  16500    52198  125  57.6         2.0
12  2016  17000    44915  145  52.3         2.0
13  2017  16400    21695   30  58.9         1.4
14  2015  15400    47348   30  61.4         2.0
15  2017  14500    26156  145  58.9         1.4
16  2016  15700    28396  145  53.3         2.0
17  2014  13900    30516   30  56.5         1.4
18  2016  19000    37652  200  47.1         2.0
19  2014  17000    34110  145  47.9         1.4
20  2017  17300    37100  145  67.3         2.0
21  2016  20200    23714  200  47.1         2.0
22  2017  22500    21649  145  58.9         3.0
23  2015  17500    62748  150  53.3         3.0
24  2016  20000    23789  200  47.1         2.0
25  2017  18500    17418  145  62.8         2.0
26  2017  19500    33300  145  61.4         2.0
27  2018  15800    10793  145  56.5         1.4
28  2018  17200    25138  145  70.6         2.0
29  2015  14000    61176   30  62.8         2.0
30  2015   9500    54754    0  76.3         1.6
31  2017  16500    21369  125  51.4         1.4
32  2014  15000    39190  205  47.9         2.0
33  2017  16000    47482  150  47.9         1.4
34  2016  16900    40501  150  51.4         2.0
35  2014  12300    43195  200  47.9         2.0
36  2017  10800    31447  145  67.3         1.0
37  2016  19400    34030  125  58.9         2.0
38  2017  16000    29063  145  70.6         2.0
39  2017  17100    29545  145  65.7         2.0
40  2015  11300    75619   20  68.9         2.0
41  2016  17200    39603  160  50.4         2.0
42  2017  20300    42908  145  51.4         2.0
43  2014  13200    83872  125  58.9         2.0
44  2016  15200    58750  145  47.9         1.4
45  2019  15700     2029  145  49.6         1.0
46  2018  16600    22958  145  50.4         1.8
47  2017  14400    32097  145  72.4         2.0
48  2017  20200    13057  145  53.3         2.0
49  2017  23700    20278  145  38.7         3.0
0     1
1     1
2     0
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    0
16    1
17    1
18    1
19    0
20    0
21    1
22    0
23    0
24    1
25    1
26    0
27    1
28    1
29    1
30    0
31    1
32    0
33    0
34    1
35    1
36    0
37    0
38    0
39    0
40    1
41    0
42    1
43    1
44    1
45    1
46    0
47    0
48    1
49    1
Name: used_car_status, dtype: int64

4. Memisahkan Data Training Dan Data Testing

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2 ,stratify= y, random_state=2)

In [13]:
print(x.shape, x_train.shape, x_test.shape)

(50, 6) (40, 6) (10, 6)

5. Membuat data latih menggunakan algoritma SVM

In [14]:
clasifier = svm.SVC(kernel='linear')

In [15]:
clasifier.fit(x_train, y_train)

SVC(kernel='linear')

6. Membuat model evaluasi untuk mengukur tingkat akurasi

In [16]:
x_train_prediction = clasifier.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [17]:
print('akurasi data train nya adalah = ', training_data_accuracy)

akurasi data train nya adalah =  0.65

In [18]:
x_test_prediction = clasifier.predict(x_test)
test_data_accuracry = accuracy_score(x_test_prediction, y_test)

In [19]:
print('Akurasi data testing adalah=', test_data_accuracry)

Akurasi data testing adalah= 0.7

7. Membuat Model Prediksi

In [20]:
input_data = (2017,12500,15735,150,55.4,1.4 )
input_data_as_numpy_array = np.array(input_data)
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)
prediction = clasifier.predict(input_data_reshape)
print(prediction)
if(prediction [0] == 0):
    print('Mobil Tidak Rusak / Masih mulus')
else :
    print('Mobil Ada Rusak')

[1]
Mobil Ada Rusak

c:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

8. Simpan Model

In [21]:
import pickle

In [22]:
filename = 'mobil_bekas.sav'
pickle.dump(clasifier, open(filename,'wb'))